<div class="filterCars">
    <input type="text" placeholder="Filter by Car Brand" [(ngModel)]="filterBrandValue">
</div>
<br>
<div class="filterPriceFrom">
    <input type="number" placeholder="Enter price 'from'" [(ngModel)]="filterFromPrice">
</div>
<br>
<div class="filterPriceTo">
    <input type="number" placeholder="Enter price 'to'" [(ngModel)]="filterToPrice">
</div>
<br>
<section>
    @for (car of carsObservable() | filterByBrand : filterBrandValue() : filterFromPrice() : filterToPrice(); track car.id){
    <div>
        <h3>{{ car.brand }} / {{ car.model }}</h3>
        <p>{{ car.description }}</p>
        <p>Price: {{ car.price | currency: 'EUR' : 'symbol'}}</p>
        <button (click)="removeCar(car.id)">Remove Car</button>
    </div>}
</section>
