<div>
    <label for="description">Description: </label>
    <input type="text" placeholder="Type Description" [(ngModel)] = "description">
</div>
<br>
<hr>

<div>
    <label for="price">Price: </label>
    <input type="number" placeholder="Type Price" [(ngModel)] = "price">
</div>
<br>
<hr>

<div>
    <label for="brand">Brand: </label>
    <input type="text" placeholder="Type Brand" [(ngModel)] = "brand">
</div>
<br>
<hr>

<div>
    <label for="model">Model: </label>
    <input type="text" placeholder="Type Model" [(ngModel)] = "model">
</div>
<br>
<hr>

<button (click) = "createCar()">Create Car</button>